
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* { 
    font-family: 'Lato', sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --orange: #f48024;
    --yellow: #fbf2d4;
    --green: #5eba7d;
    --blue: #0077cc;
    --powder: #e1ecf4;
    --red: #d1383d;
    --subwhite: #f6fae3;
    --primary: #bfdc0e;
    --secondary: #4d6600;
    --subprime: #535f06;
    --subsec: #60721c;
    --default-device-width: 100%;
    --default-device-height: 100%;
    --default-adjust: 100%;
    --default-opacity: 1.0;
    --responsive-xs: 0px;
    --responsive-sm: 480px;
    --responsive-md: 768px;
    --responsive-lg: 992px;
    --responsive-xl: 1366px; 
    --font-familt-sans-serif: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

textarea {
    resize: none;
    outline: none;
}

.container {
    margin: auto;
}
.body-form {
    color: #4d6600;
    background: #4d6600;
}

.con-header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    justify-content: center;
    height: 130px;
    background-color: #fff;
    transition: 0.2s;
    /*border: solid #000 2px;*/
}

.con-header-logo {
    flex: 1;
    flex-basis: 650px;
    margin-left: 50px;
    text-align: left;
}
#top-logo {
    transition: 0.3s;
    animation: startpagebutton 0.45s ease-in;
}
#top-logo:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.con-header-links {
    flex: 2;
    flex-basis: 675px;
    text-align: center;
    font-size: 14px;
    position: relative;
    top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.con-header-links-link {
    margin-left: 65px;
    margin-right: 65px;
    transition: 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.09em;
    animation: startpage 0.5s ease-in;
}

.con-header-hr {
    transition: 0.5s;
    width: 0;
    opacity: 0;
}

.con-header-links-link:hover + .con-header-hr {
    transition: 0.5s;
    opacity: 1;
    width: 100px;
    color: #535f06;
}

.con-header-button {
    flex: 3;
    position: relative;
    top: 15px;
    margin: 15px;
    flex-basis: 650px;
    text-align: right;
    font-size: 14px;
    color: #fff;
    margin-right: 50px;
}

#button-event {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: #bfdc12;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-weight: 500;
    font-size: 12px;
    margin: 15px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
    animation: startpagebutton 0.4s ease-in;
}
.button-event {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: #bfdc12;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-weight: 500;
    font-size: 12px;
    margin: 15px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
}
#button-event:hover {
    background: transparent;
    color: #bfdc12;
    border: 1px solid #bfdc12;
    transition: 0.4s ease;
}
.button-event:hover {
    background: transparent;
    color: #bfdc12;
    border: 1px solid #bfdc12;
    transition: 0.4s ease;
}


.content {
    margin: 0;
    padding-top: 130px;
}

/* Slider */

#slider {
    display: block;
    overflow: hidden;
}

#slider figure .slide-img{
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: slider 30s infinite;
}

.global-mask {
    background-image: url("img/fs_3_tlo.jpg");
    background-clip: content-box;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bc-1 {
    display: inline-block;
    background-image: url("img/fs_0_slajder1.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    width: 1920px;
    height: 650px;
    /*animation: paralax1 8s ease;*/
}

#slider-text-1 {
    display: inline-block;
    background-image: url("img/fs_0_slajder1.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    width: 1920px;
    height: 650px;
    /*animation: paralax1 10s ease-in-out;*/
}
#slider-text-2 {
    display: inline-block;
    background-image: url("img/fs_0_slajder2.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    width: 1920px;
    height: 650px;
}
#slider-text-3 {
    display: inline-block;
    background-image: url("img/fs_0_slajder3.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    width: 1920px;
    height: 650px;
}

/* Slider content */

#slide-1 {
    
}
#slide-2 {
    /*animation-fill-mode: forwards;
    animation: slider-text-op 0s 5s forwards;
    visibility: hidden;*/
    
}
#slide-3 {
    
}

.slide-text-con {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 125px;
    margin-left: 25px;
    margin-right: 25px;
}
.slide-text-title {
    opacity: 0;
    /*animation: slider-text-op 0.7s ease-out;*/
    display: block;
    text-align: center;
    font-size: 64px;
    color: #fff;
    font-weight: 400;
    transition: 0.5s;
}
.slide-text-subtitle {
    /*animation: slider-text-op 1s ease-out;*/
    opacity: 0;
    color: #bfdc0e;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    position: relative;
    top: -30px;
}
.slide-button {
    opacity: 0;
    /*animation: slider-text-op 1.3s ease-out;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #bfdc12;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-weight: 500;
    font-size: 12px;
    margin: 20px;
    width: 200px;
    height: 40px;
    transition: 0.3s;
}
.slide-button:hover {
    border: 1px solid #bfdc12;
    background: transparent;
    color: #bfdc0e;
    transition: 0.3s;
}

.nav-class {
    width: 50px;
    height: 3px;
    background-color: #535f06;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.4s;
    cursor: pointer;
}
.nav-class:hover {
    background-color: #fff;
    transition: 0.4s;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: static;
    margin-top: 100px;
    transform: translateY(-25%);
}

input[name="r"]{
    position: static;
    visibility: visible;
}

/* under slider text */

.under-slider-text {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.02em;
}

.under-slider-title {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'lato', sans-serif;
    letter-spacing: 0.04em;
    position: relative;
    top: 5px;
}
.under-slider-subtitle {
    font-size: 24px;
}

/* About us */

.under-header-about {
    display: block;
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url("img/fs_0_slajder2.jpg");
    background-repeat: repeat-x;
    background-position-x: 100%;
    background-position-y: bottom;
    background-size: cover;
    background-position: center;
    image-rendering: auto;
}
.under-header-title {
    color: #fff;
    font-size: 62px;
    animation: slider-text-op 1s ease-out;
}
.under-header-subtitle {
    color: #bfdc0e;
    font-size: 22px;
    position: relative;
    top: -25px;
    animation: slider-text-op 1s ease-out;
}
.under-header-title-con {
    display: block;
    position: static;
    padding-top: 75px;
}

.under-header-about-2 {
    display: block;
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url("img/fs_2_slajder.jpg");
    background-repeat: repeat-x;
    background-position-x: 100%;
    background-origin: content-box;
    background-position-y: bottom;
    background-size: cover;
    background-position: center;
    image-rendering: auto;
}

.con-about {
    margin: 0;
}

.about-title {
    display: block;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 15px;
}

.about-title-text-1 {
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    letter-spacing: 0.03em;
    animation: slider-text-op 1.5s ease-out;
}

.about-title-text-2 {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    letter-spacing: 0.02em;
    animation: slider-text-op 2s ease-out;
}

.about-main {
    display: block;
    text-align: center;
    margin-left: 325px;
    margin-right: 325px;
}
.about-sec-1 {
    display: block;
}
.about-sec-2 {
    display: block;
}

.about-main-con {
    text-align: left;
    align-items: center;
    width: 500px;
    height: 350px;
}

#about-main-con-1 {
    display: inline-block;
}
#about-main-con-2 {
    display: inline-block;
}
#about-main-con-3 {
    display: inline-block;
    position: relative;
    top: -130px;
}
#about-main-con-4 {
    display: inline-block;
}
#about-main-img {

}

.about-main-con-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.about-main-con-subtitle {
    font-size: 24px;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.about-main-con-text {
    line-height: 25px;
}

.about-gallery{
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 45px;
    margin-right: 45px;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f6fae3;
}


.gallery-title {
    margin-bottom: 65px;
    margin-top: 65px;
    text-align: center;
    color: #60721c;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.gallery-line-1 {
    display: flex;
    justify-content: center;
}
.gallery-line-1 img {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.about-img-1 {
    background-image: url("img/fs_1_galeria1.png");
    width: 245px;
    height: 280px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.about-img-2 {
    background-image: url("img/fs_1_galeria2.png");
    width: 245px;
    height: 280px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.about-img-3 {
    background-image: url("img/fs_1_galeria3.png");
    width: 245px;
    height: 280px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.about-img-4 {
    background-image: url("img/fs_1_galeria4.png");
    width: 245px;
    height: 280px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.gallery-line-2 {
    display: flex;
    justify-content: center;
}
.about-img-5 {
    background-image: url("img/fs_1_galeria5.png");
    background-size: cover;
    width: 245px;
    height: 280px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.about-img-6 {
    background-image: url("img/fs_1_galeria6.png");
    width: 245px;
    height: 280px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.about-img-7 {
    background-image: url("img/fs_1_galeria7.png");
    width: 245px;
    height: 280px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.about-img-8 {
    background-image: url("img/fs_1_galeria8.png");
    width: 245px;
    height: 280px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

/* Offer */

.con-offer-items {
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 375px;
}

.item-con {
    display: block;
    text-align: left;
}

.item-wrapper {
    display: inline-block;
    position: relative;
    top: -75px;
    margin-right: 125px; 
}
.item-wrapper-right {
    display: inline-block;
    position: relative;
    top: -75px;
    margin-left: 125px; 
}
.item-img {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
.item-title {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.item-subtitle {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.item-text {
    color: #000;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.04em;
}

.item-con {
    display: block;
}
#item1 {

}
#item2 {
    
}
#item3 {
    
}
#item4 {
    
}
#item5 {
    
}
#item6 {
    
}

.offer-footer-con {
    display: block;
    width: 96.4%;
    height: 100%;
    text-align: center;
    background-image: url("img/fs_2_dol.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
}
.offer-footer-title {
    padding-top: 125px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.offer-footer-subtitle {
    font-size: 24px;
    color: #fff;
}

/* Contact */

.content-contact {
    margin: 0;
    background-image: url("img/fs_3_tlo.jpg");
    opacity: 0.95;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 130px;
}

.contact-main {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

.contact-main-title {
    color: #bfdc0e;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.contact-subtitle {
    color: #fff;
    letter-spacing: 0.02em;
    font-size: 38px;
    text-transform: none;
}
.contact-text-1 {
    color: #bfdc0e;
    letter-spacing: 0.02em;
    font-size: 18px;
}
.contact-text-2 {
    color: #bfdc0e;
    letter-spacing: 0.02em;
    font-size: 18px;
}

.con-contact-button {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.contact-fb {
    color: #fff;
    text-align: center;
    letter-spacing: 0.02em;
}

.contact-fb-img {
    width: 32px;
    height: 32px;
    image-rendering: auto;
}

/* Facebook post */

.widget-app {
    display: none;
    visibility: hidden;
}

.eapps-link {
    position: relative;
    top: -100000000000000;
    visibility: hidden;
    display: none;
    width: 0%;
    height: 0%;
    margin: 0;
    padding: 0;
    z-index: 1!important;
} 

.eapps-widget-toolbar-panel-wrapper {
    display: none;
    visibility: hidden;
}


/* Footer */

.con-footer {
    display: block;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px;
    padding-top: 50px;
    background-color: #4d6600;
    text-align: center;
}

.footer-title {
    font-size: 14px;
    color: #bfdc12;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-left: 25px;
    margin-right: 25px;
}

.footer-text {
    color: #fff;
    font-size: 28px;
    letter-spacing: 0.02em;
    margin-left: 25px;
    margin-right: 25px;
}

.footer-subtitle {
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #bfdc12;    
    margin-left: 25px;
    margin-right: 25px;
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
}

#button-event-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfdc12;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-weight: 500;
    font-size: 12px;
    margin: 15px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s ease;
}
#button-event-footer:hover {
    background: transparent;
    color: #bfdc12;
    border: 1px solid #bfdc12;
    transition: 0.3s ease;
}

.footer-last {
    display: block;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 35px;
}
.footer-box {
    display: block;
}
.ft-left {
    font-weight: 400;
    text-decoration: none;
    color: #bfdc12;
}
.ft-right {
    /* IMPORTANT */
    position: relative;
    top: -15px;
    color: #bfdc12;
    font-weight: 400;
    display: block;
    text-align: right;
}

/* Form css */

.con-form {
    display: block;
    background: url("img/fs_4_tlo.jpg");
    background-position: bottom;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 110%;
    padding-top: 130px;
    overflow-y: visible;
}

#contact {
    display: block;
    padding-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.contact-title {
    text-align: center;
    font-size: 20px;
    color: #bfdc12;
}

input {
    color: #fff;
    height: 50px;
    margin-left: 10px;
}

input::placeholder {
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.02em;
}

input::placeholder::before:focus {
    border: none;
}
input::placeholder::before:focus {
    border: none;
}


#formularz {
    display: block;
    align-items: baseline;
    justify-content:space-evenly;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
#formularz textarea {
    background: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #bfdc12;
}
#sub-button {
    background-color: #bfdc0e;
    width: 200px;
    height: 50px;
    border: none;
    color: #fff;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}
#sub-button:hover {
    background: transparent;
    color: #bfdc0e;
    border: 2px solid #bfdc0e;
    transition: 0.3s ease;
}

.dane-wlasciciel {
    display: inline-block;
    margin-right: 100px;
    margin-left: 50px;
    text-align: left;
    color: #fff;
}
.dane-wlasciciel input {
    color: #fff;
    background: none;
    border: none;
}
.dane-wlasciciel-title {
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
}

.dane-zwierze {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    color: #fff;
}
.dane-zwierze input {
    color: #fff;
    background: none;
    border: none;
}

.dane-transport {
    display: inline-block;
    position: relative;
    top: 16px;
    margin-left: 100px;
    margin-right: 50px;
    text-align: left;
    color: #fff;
}
.dane-transport input {
    color: #fff;
    background: none;
    border: none;
}
.label-term {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}


.wiadomosc {
    display: block;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 35px;
}
.wiadomosc-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-weight: 500;
}
.wiadomosc textarea {
    background: none;
    color: #fff;
    border-radius: 0px;
    font-size: 16px;
}

.star-title {
    color: rgb(218, 218, 218);
}

/* Form Footer */

.contact-footer {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #bfdc0e;
    font-weight: 400;
    margin-left: 50px;
    margin-right: 50px;
}
.footer-left {
    display: inline-block;
}
.footer-email {color: #bfdc0e;text-decoration: none;}
.footer-fb {color: #bfdc0e;text-decoration: none;}
.footer-right {
    display: inline-block;
    float: right;
}

/* Hamburger */

.overlay-ham {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 999999999999;
    top: 0;
    left: 0;
    background-color: rgba(54, 95, 37);
    background-color: rgba(54, 95, 37, 0.9);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-ham-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    opacity: 0;
    transition: 2.5s;
}
.overlay-ham-content a {
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-bottom: 50px;
    transition: 0.41s;
    font-size: 24px;
}
/*.overlay-ham-content a:hover:nth-child(1) {
    color: rgb(211, 211, 211);
    transform: scale(1.5);
}
.overlay-ham-content a:hover:nth-child(2) {
    color: rgb(211, 211, 211);
    transform: scale(1.5);
}
.overlay-ham-content a:hover:nth-child(3) {
    color: rgb(211, 211, 211);
    transform: scale(1.5);
}*/

.overlay-ham .closeHam {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 60px;
    transition: 0.8s;
    opacity: 1;
}

.ham-open {
    visibility: hidden;
    display: none;
    font-size: 45px;
    margin-bottom: 15px;
    margin-left: 5px;
    z-index: 999;
}
.ham-open:hover {
    transition: 0.3s;
    /*transform: rotateZ(90deg);*/
}
.closeHam {
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}
.closeHam:hover {
    transition: 0.3s;
}

.ham-link-anim {
    transform: scale(0.75);
    opacity: 0.9;
}
.ham-link-anim-m {
    transform: scale(1.75);
}

/* Animations */

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    30% {
        left: 0;
    }
    35% {
        left: 0;
    }
    40% {
        left: -100%;
    }
    50% {
        left: -100%;
    }
    65% {
        left: -100%;
    }
    70% {
        left: -200%;
    }
    80% {
        left: -200%;
    }
    90% {
        left: -200%;
    }
    95% {
        left: 0;
    }
    100% {
        left: 0;
    }
}

@keyframes slider-text-op {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hr-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes paralax1 {
    from {
        background-position: 125px;
    }
    to {
        background-position: 0px;
    }
}

@keyframes startpage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes startpagetop {
    from {
        opacity: 0.5;
        position: relative;
        top: -75px;
    }
    to {
        opacity: 1;
        position: relative;
        top: 0px;
    }
}

@keyframes startpagebottom {
    from {
        opacity: 0.5;
        position: relative;
        top: 75px;
    }
    to {
        opacity: 1;
        position: relative;
        top: 0px;
    }
}

@keyframes startpagebutton {
    from {
        opacity: 0;
        transform: scale(0.2);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}